@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");

/* Css Variables */

:root {
  /* colors */

  --baseColor: #ff6a59;
  --focusColor: #5299ff;
  --darkColor: #2f2f2f;
  --whiteColor: #f0f0f0;

  /* fonts */

  --bodyFont: "Cardo", serif;
  --titleFont: "Pathway Gothic One", sans-serif;

  /* shadow */
  --shadow: 0 10px 6px -6px rgba(58, 53, 55, 0.4);
  --reverse: 0 -10px 6px -6px rgba(58, 53, 55, 0.4);
  --boxed: 0 6px 8px -4px var(--darkColor);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--bodyFont);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  width: 100%;
}

.btn {
  padding: 10px;
  font-weight: 600;
}

.page-wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: [pageStart] 100px [pageContent] 1fr [pageFooter] 80px [pageEnd];
}

.page-wrapper header {
  grid-row: pageStart / pageContent;
  padding: 10px 20px;
  box-shadow: var(--shadow);
  display: grid;
  grid-template-columns: minmax(60px, 70px) 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.page-wrapper header .title-area {
  font-family: var(--titleFont);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.page-wrapper header .title-area .title {
  color: var(--darkColor);
  font-weight: 700;
}

.page-wrapper main {
  grid-row: pageContent / pageFooter;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
}
.page-wrapper .home .featured-link,
.page-wrapper .home .post-link {
  list-style: none;
}

.page-wrapper footer {
  grid-row: pageFooter / pageEnd;
  padding: 10px 20px;
  box-shadow: var(--reverse);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
}

.page-wrapper footer div {
  height: 100%;
  display: flex;
  align-items: center;
}

.page-wrapper footer span {
  text-transform: uppercase;
  font-family: var(--titleFont);
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--darkColor);
}

.page-wrapper footer .social {
  justify-self: flex-end;
  justify-content: space-around;
  width: 120px;
  color: var(--darkColor);
  font-size: 1.5rem;
}

/* Media Queries */

@media screen and (min-width: 1026px) /* Desktop */ {
  .page-wrapper main .home {
    display: grid;
    grid-template-rows: repeat(2, 70vh);
    grid-auto-flow: row;
    grid-row-gap: 20px;
  }

  .page-wrapper .home .featured-posts,
  .page-wrapper .home .other-posts {
    padding: 20px 10px;
    box-shadow: var(--boxed);
  }

  .page-wrapper .home .featured-posts h3,
  .page-wrapper .home .other-posts h3 {
    margin: 10px 0;
    font-size: 1.3rem;
    font-family: var(--titleFont);
  }

  .page-wrapper .featured-posts .featured-list,
  .page-wrapper .other-posts .posts-list {
    height: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 1fr 1fr;
    grid-gap: 20px;
  }

  .page-wrapper .featured-list .featured-link,
  .page-wrapper .posts-list .post-link {
    position: relative;
    padding: 20px 30px;
    box-shadow: var(--boxed);
    background: var(--whiteColor);
  }

  .page-wrapper .featured-link .featured-image,
  .page-wrapper .post-link .post-image {
    height: 250px;
    box-shadow: var(--boxed);
  }

  .page-wrapper .featured-link .btn,
  .page-wrapper .post-link .btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: var(--darkColor);
    color: var(--whiteColor);
  }

  .page-wrapper .featured-title,
  .page-wrapper .post-title {
    padding: 20px 0;
    width: 70%;
    line-height: 1.5;
  }

  .page-wrapper .featured-date,
  .page-wrapper .post-date {
    position: absolute;
    left: 10px;
    top: 20px;
    width: 120px;
    height: 30px;
    background: var(--baseColor);
    border-radius: 5px;
    transform: rotate(-7deg);
    color: #fff;
    font-size: 0.9rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) and (max-width: 1025px) /* Tablet */ {
  .page-wrapper .home {
    display: block;
    height: auto;
  }

  .page-wrapper .home .featured-posts,
  .page-wrapper .home .other-posts {
    height: fit-content;
    padding: 10px;
  }

  .page-wrapper .home .featured-posts h3,
  .page-wrapper .home .other-posts h3 {
    margin: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-family: var(--titleFont);
    color: var(--focusColor);
    border-top: 2px solid var(--whiteColor);
    border-bottom: 2px solid var(--whiteColor);
  }

  .page-wrapper .featured-posts .featured-list,
  .page-wrapper .other-posts .posts-list {
    display: block;
    width: 100%;
  }

  .page-wrapper .featured-list .featured-link,
  .page-wrapper .posts-list .post-link {
    position: relative;
    padding: 20px;
    background: var(--whiteColor);
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(2, 100px);
    margin-bottom: 20px;
    box-shadow: var(--boxed);
  }

  .page-wrapper .featured-link .featured-image,
  .page-wrapper .post-link .post-image {
    grid-column: span 1;
    grid-row: span 2;
    height: 100%;
    box-shadow: var(--boxed);
  }

  .page-wrapper .featured-link .btn,
  .page-wrapper .post-link .btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: var(--darkColor);
    color: var(--whiteColor);
  }

  .page-wrapper .featured-title,
  .page-wrapper .post-title {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    font-size: 1.5rem;
    padding: 20px;
    width: 70%;
    line-height: 2;
  }
  .page-wrapper .featured-date,
  .page-wrapper .post-date {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 80px;
    height: 80px;
    background: var(--baseColor);
    border-radius: 100%;
    color: var(--whiteColor);
    font-size: 0.9rem;
    font-weight: 800;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) /* Mobile */ {
  .page-wrapper .home {
    font-size: 0.8rem;
    display: block;
  }

  .page-wrapper .home .featured-posts,
  .page-wrapper .home .other-posts {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .page-wrapper .home .featured-posts h3,
  .page-wrapper .home .other-posts h3 {
    margin: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-family: var(--titleFont);
    color: var(--focusColor);
    border-top: 2px solid var(--whiteColor);
    border-bottom: 2px solid var(--whiteColor);
  }

  .page-wrapper .featured-posts .featured-list,
  .page-wrapper .other-posts .posts-list {
    box-shadow: var(--boxed);
    border-top: 2px solid var(--whiteColor);
  }

  .page-wrapper .featured-list .featured-link,
  .page-wrapper .posts-list .post-link {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: var(--boxed);
    background: var(--whiteColor);
  }

  .page-wrapper .featured-link .featured-image,
  .page-wrapper .post-link .post-image {
    height: 250px;
    box-shadow: var(--boxed);
  }

  .page-wrapper .featured-link .btn,
  .page-wrapper .post-link .btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: var(--darkColor);
    color: var(--whiteColor);
  }

  .page-wrapper .featured-title,
  .page-wrapper .post-title {
    padding: 20px 0;
    width: 70%;
    line-height: 2;
    font-weight: 700;
  }

  .page-wrapper .featured-date,
  .page-wrapper .post-date {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 70px;
    height: 70px;
    background: var(--baseColor);
    border-radius: 100%;
    color: var(--whiteColor);
    font-size: 0.8rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
