<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RGitau's Blog</title>
    <link rel="stylesheet" href={{ "/assets/css/main.css" | relative_url}}>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<body>
    <div class="page-wrapper">

        <header>

            <a class="brand" href="/">
                <img src={{ "/assets/images/logo.png" | relative_url}} class="logo">
            </a>

            <div class="title-area">
                <!-- <span class="title">Rodgers M Gitau</span> -->
                <span class="subtitle">Tech Blog &amp; random musings</span>
            </div>

        </header>

        <main class="content-area">
            {{ content }}
        </main>

        <footer>
            <div>
                <span>Valdadyne &copy; 2018</span>
            </div>
            <div class="social">
                <a target="_blank" href="https://github.com/valdadyne">
                    <i class="fab fa-github" title="Github"></i>
                </a>
                <a target="_blank" href="https://twitter.com/valdadyne">
                    <i class="fab fa-twitter" title="Twitter"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/rodgersgitau/">
                    <i class="fab fa-linkedin-in" title="LinkedIn"></i>
                </a>
            </div>

        </footer>

    </div>

</body>

</html>