--- 
layout: default 
---

<section class="home">

    <div class="featured-posts">
        <h3>Featured Posts</h3>
        <ul class="featured-list">
            {% for post in site.posts limit:3 %}
            <li class="featured-link">

                <img class="featured-image" src="{{ post.image | relative_url }}">

                <div class="featured-info">
                    <strong class="featured-date">{{ post.date | date: "%-d %B %Y"}}</strong>
                    <a class="btn" href="{{ post.url | relative_url }}"> Read Post</a>
                </div>

                <h4 class="featured-title">{{ post.title| truncatewords: 10 }}</h4>


            </li>
            {% endfor %}
        </ul>

    </div>

    <div class="other-posts">
        <h3>Other Posts</h3>
        <ul class="posts-list">
            {% for post in site.posts offset:0 %}
            <li class="post-link">

                <img class="post-image" src="{{ post.image | relative_url }}">

                <div class="post-info">
                    <strong class="post-date">{{ post.date | date: "%-d %B %Y"}}</strong>
                    <a class="btn" href="{{ post.url | relative_url }}"> Read Post</a>
                </div>

                <h4 class="post-title">{{ post.title| truncatewords: 10 }}</h4>

            </li>
            {% endfor %}
        </ul>
    </div>

</section>
